/* .hrTag {
    border-top: 1px solid #ccc;
    margin-top: 0;
    margin-bottom: 0;
} */

.footer-container {
    margin: 0 8%;
}

.inline-flex {
    display: inline-flex;
    align-items: center;
}

.inline-block {
    display: inline-block;
}

.footer-link {
    color: #888;
    margin-right: 16px;
    font-weight: bold;
}

.footer-link:hover, .footer-link:focus, .legal-link:hover, .legal-link:focus {
    color: #c8c8c8;
}

.legal-link {
    color: #888;
    margin-right: 16px;
}

a, a:hover, a:focus {
    text-decoration: none;
}

.copy-right-text {
    color: #888;
}

@media only screen and (min-width: 992px) {
    .footer {
        position: relative;
        width: 100%;
        min-height: 260px;
        background: #000000;
        padding: 80px 0;
        z-index: 1;
    }

    .social-links ul li {
        display: inline-block;
        margin-right: 20px;
    }

    .social-links-767 ul li {
        display: none;
        margin-right: 20px;
    }

    .footer-brand {
        color: #FFFFFF;
        font-size: 32px;
        padding-right: 20px;
        padding-left: 20px;
        border-right: 1px solid #888;
    }

    .footer-motto {
        color: #FFFFFF;
        font-size: 20px;
        padding: 0 20px;
    }

    .social-links ul {
        padding: 0 20px !important;
        transform: translateY(9px);
    }

    .footer-copy-right {
        text-align: right;
        padding-top: 12px;
        font-size: 14px;
    }

    .float-section {
        float: right;
    }
    .durchere-logo-footer {
        width: 52px;
        height: 50px;
        float: left;
    }
    .vertical-line-public-footer{
        float: left;
        border-right: 1px solid #888;
        height: 50px;
        width: 82px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .footer {
        position: relative;
        width: 100%;
        min-height: 260px;
        background: #000000;
        padding: 80px 0;
        z-index: 1;
    }

    .social-links ul li {
        display: inline-block;
        margin-right: 20px;
    }

    .social-links-767 ul li {
        display: none;
        margin-right: 20px;
    }

    .footer-brand {
        color: #FFFFFF;
        font-size: 32px;
        padding-right: 20px;
        padding-left: 20px;
        border-right: 1px solid #888;
    }

    .footer-motto {
        color: #FFFFFF;
        font-size: 20px;
        padding: 0 20px;
    }

    .social-links ul {
        padding: 0 20px !important;
        transform: translateY(9px);
    }

    .footer-copy-right {
        text-align: left;
        padding-top: 12px;
        font-size: 14px;
    }

    .float-section {
        float: left;
    }
    .durchere-logo-footer {
        width: 52px;
        height: 50px;
        float: left;
    }
    .vertical-line-public-footer{
        float: left;
        border-right: 1px solid #888;
        height: 50px;
        width: 82px
    }
}

@media only screen and (max-width: 767px) {
    .footer {
        position: relative;
        width: 100%;
        min-height: 260px;
        background: #000000;
        padding: 40px 0;
        z-index: 1;
    }

    .social-links ul li {
        display: none;
        margin-right: 20px;
    }

    .social-links-767 ul li {
        display: inline-flex;
        margin-right: 20px;
    }

    .social-links-767{
        margin: 10px 0;
    }

    .social-links-767 ul {
        display: contents;
    }

    .footer-brand {
        color: #FFFFFF;
        font-size: 24px;
        padding-right: 7px;
        padding-left: 7px;
        border-right: 1px solid #888;
    }

    .footer-motto {
        color: #FFFFFF;
        font-size: 15px;
        padding: 0 10px;
    }

    .social-links ul {
        padding: 0 20px !important;
        transform: translateY(9px);
    }

    .footer-copy-right {
        text-align: left;
        padding-top: 12px;
        font-size: 14px;
    }

    .float-section {
        float: left;
    }
    .durchere-logo-footer {
        width: 46px;
        height: 46px;
        float: left;
        padding-right: 8px;
    }
    .vertical-line-public-footer{
        float: left;
        border-right: 1px solid #888;
        height: 50px;
        width: 82px
    }
}
